body {
	font-size: 16px;
	line-height: 16px;
	font-style: #777;
	font-family: arial, 'helvetiea neue',helvetiea, 'san-serif';
	text-align: center;
}

.container {
	width: 100%;
	max-width: 960px;
}

.crystal {
	height: 100px;
	width: 100px;
}
.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
